html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

:root {
  /* Colors */
  --primary: hsl(24, 67%, 45%);
  --darkBlue: hsl(27, 100%, 15%);
  --darkGray: hsl(0, 14%, 43%);
  --darkerGray: hsl(4, 14%, 60%);
  --lightGray: hsl(23, 41%, 84%);
  --lighterGray: hsl(20, 37%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* Buttons */
.reset {
  width: 100%;
  background-color: var(--primary);
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.reset:active {
  background-color: var(--lightGray);
  transition: 0.2s ease-in-out;
}

input {
  width: 100%;
  background: var(--lighterGray);
  color: var(--darkBlue);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  text-align: right;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  padding: 0.5rem 1rem;
  background: var(--darkBlue);
  color: var(--white);
}

input[type="radio"]:checked {
  background: var(--primary);
  color: var(--darkBlue);
}

input[type="radio"]::before {
  content: attr(value) "%";
}

.results {
  display: flex;
  flex-flow: column;
  width: 50%;
  background: var(--darkBlue);
  padding: 2rem;
  border-radius: 0.5rem;
}

.results :last-child {
  margin-top: auto;
}

/*  Styles */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  height: 100%;
  background: var(--lightGray);
  color: var(--darkerGray);
}

h1 {
  color: var(--darkBlue);
  text-transform: uppercase;
  text-align: center;
  margin: 4rem;
}

form {
  display: flex;
  flex-flow: row;
  background: var(--white);
  border-radius: 1em;
  padding: 2em;
  margin: 4em auto;
}

footer {
  text-align: center;
  margin: 0 auto;
}

a {
  color: var(--darkBlue);
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

.inputs {
  padding-right: 1.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.inputs label {
  margin: 1rem 0;
}

.inputs input {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

.inputs input:focus {
  outline-color: var(--primary);
}

.tips {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 1rem 0;
}

.tips > input {
  text-align: center;
  flex: 1 0 25%;
  margin: 0;
}

.tips > input[type="radio"] {
  cursor: pointer;
}

.bill {
  color: var(--darkerGray);
  background-image: url(./assets/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: left 1rem center;
}

.numPeople {
  color: var(--darkerGray);
  background-image: url(./assets/icon-person.svg);
  background-repeat: no-repeat;
  background-position: left 1rem center;
}

.total {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.total label {
  color: var(--white);
  margin-bottom: 0.5rem; 
}

label small {
  color: var(--primary);
}

output {
  color: var(--primary);
  font-weight: bold;
  font-size: 2.5rem;
}

/* Media Queries */

/* Mobile */
@media only screen and (max-width: 767px) {
  form {
    display: flex;
    flex-flow: column;
    max-width: 375px;
  }

  .inputs {
    width: 100%;
  }

  .results {
    width: 100%;
  }

  footer {
    padding: 1rem 1rem;
  }
}
